doc/schema/public.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<!-- ============================================================================================ 

  XML Schema for ClinicalTrials.gov public XML
  http://clinicaltrials.gov/ct2/html/images/info/public.xsd
  National Library of Medicine, National Institutes of Health
  Version: 2020.05.08

  Change History for schema:
  12/13/2011 Initial Version
             Replaces XML DTD at:
               http://clinicaltrials.gov/ct2/html/images/info/public.dtd
             Includes specification of study results
  12/21/2011 Minor revision to remove declaration of namespace
  07/20/2012 Added other_outcome tag, similar to secondary_outcome
  07/15/2013 In clinical_results, added population tag to baseline measure.
             Holds population description
             Matches population tag in outcome measure
  07/15/2013 In clinical_results, marked several tags as optional
  07/15/2013 In clinical_results, added optional comment as text of measurements 
             tag - used to be just attributes with no text
  03/27/2014 Added optional target_duration
  06/05/2015 Added data type restrictions and key/keyref constraints to better
             document the possible values of most fields. If no constraints are
             specified in the schema, assume any value is possible.
  06/30/2016 Added structured data under patient_data tag
  06/30/2016 Added structured data under study_docs tag
  06/30/2016 Added firstreceived_results_disposition_date tag
  
  11/24/2016 Added last_known_status tag and a new allowed value for overall_status
             If a study is open (overall status of recruiting, not yet recruiting, or expanded
             access available), the overall status is supposed to be verified occasionally, and 
             updated when it changes.  If the status has not been verified in 2 years, and the 
             current date is past the study primary completion date or completion date, then the 
             status is inconsistent.  In this case, the inconsistent value is kept in the new 
             last_known_status tag and the overall_status tag is changed to "Unknown status".
             
  12/02/2016 Changes in results structure to enhance baseline and outcome measures 
             
             Category tags now imply categorical variables with mutually exclusive values.
             Categories are now contained in new class tags, which are not mutually exclusive.
             Obese/Smoker are example classes. Male/Female are example categories.
             Although it is possible to have multiple classes containing multiple categories,  
             in practice there is usually either 1) one unnamed class containing multiple named 
             categories or 2) multiple named classes, each containing one unnamed category.
             
             Baseline measures have been expanded to describe measures of non-participant units.
             Fingers/Lesions are example units.  Info about the participants/units has been broken   
             out into analyzed tags.  The analyzed structure contains a units tag, scope tag, and 
             list of count tags.  
             
             If non-participant units exist, each baseline measure will have a units_analyzed tag 
             that selects which was analyzed, participants or units.
             
             Overall counts of participants/units are given for all baseline measures.  These
             counts can be overridden by the presence of an analyzed tag in an individual measure,
             or even in an individual class.  Example: measure six minute walk test, classes
             include obese with categories of male/female.  To get male/female percentages, you 
             need the number of participants in the obese class.  To get obese percentage, you
             need the number of participants completing the walk test.  Either of these numbers can 
             differ from the overall number of participants, and now there is a way to define them.
             
             Outcome measures have been adjusted to be consistent with baseline measures
                         
             Outcome measures used to show counts of participants/units as separate measures.
             Now that they have been moved to analyzed tags, there is only one measure and no
             need for a measure_list tag.
             
             More changes are expected in the beginning of 2017 due to implementation of 
             final rules for FDAAA 801.
             
  01/11/2017 Dates will optionally include a day, especially those that are used to calculate deadlines 
             Start dates will optionally include a type attribute of Actual or Anticipated
             
             Added 5 new Yes/No flags to <oversight_info>: <is_fda_regulated_drug>, 
             <is_fda_regulated_device>, <is_unapproved_device>, <is_ppsd>, and <is_us_export>.

             Removed <authority> tags from <oversight_info>.  
             This field is no longer collected and legacy data abandoned 

             Removed <is_fda_regulated> and <is_section_801> tags. Obsolete and abandoned.

             Created <expanded_access_info> section to hold 3 new protocol Yes/No flags: 
             <expanded_access_type_individual>, <expanded_access_type_intermediate>, and 
             <expanded_access_type_treatment>.  These flags only appear on records with study
             type, "Expanded Access"

             Study design has changed from a comma delimited list in a string into structured data.  
             A new <study_design_info> section contains the following new tags: <allocation>, 
             <intervention_model>, <intervention_model_description>, <primary_purpose>, 
             <time_perspective>, <masking>, and <masking_description>.  
             
             Removed endpoint classification data from study design.
             This field is no longer collected and legacy data abandoned 

             By default, the <gender> tag indicates patients' biolgical sex and has values Male, 
             Female, or All (which replaces Both).  The Yes/No tag <gender_based> and discussion 
             <gender_description> indicate and explain any distinctions between patient gender 
             and biological sex.
             
             We replaced the Yes/No tag <non_inferiority> in outcome analysis with a new tag 
             <non_inferiority_type> which can have additional values.  Also, outcome analysis 
             has a new tag <other_analysis_desc>
             
             Serious adverse events get another total, all-cause mortality, both <subjects_affected>
             and <subjects_at_risk>.  This is new content, but no new tags
             
             Removed safety issue data from outcome measures in protocol and results.
             This field is no longer collected and legacy data abandoned 
             
             measure_dispersion is no longer an enum.  Data providers can use any confidence
             interval limit they wish

  01/25/2017 Added two additional values for the intervention type enum:  1) Diagnostic test and 
             2) Compound Product

  02/08/2017 Corrected intervention type enum:  Compound Product  becomes  Combination Product
  02/13/2017 Corrected phase_enum: "Phase 0" becomes "Early Phase 1"
  05/12/2017 Added "Geometric Least Squares Mean" to measure_param_enum
  
  08/30/2017 Generally, a study is posted before a trial starts.  Results, or a disposition about
             why results are not available, is generally added within a year of trial completion.
             Often studies are updated when there are changes to recruiting status, site locations,  
             contact info, etc.  The last update dates refer to the most recent of these chnages.  
  
             New dates are being added:
               <study_first_submitted>
               <study_first_submitted_qc>
               <study_first_posted>
               <results_first_submitted>
               <results_first_submitted_qc>
               <results_first_posted>
               <disposition_first_submitted>
               <disposition_first_submitted_qc>
               <disposition_first_posted>
               <last_update_submitted>
               <last_update_submitted_qc>
               <last_update_posted>
               
             The _submitted suffix indicates the date that the responsible party pressed the release
             button in the ClinicalTrials.gov data submission system, thereby submitting the data 
             for review prior to posting.

             The _submitted_qc suffix indicates the submission date of the version of the record that 
             met quality control criteria.  It is common for there to be revisions between the first 
             submission and the submission that meets qc criteria.  Note this is not the date that the
             qc review was completed.
             
             The _posted suffix indicates the date that a submission was made public on ClinicalTrials.gov.
             Typically, posting occurs the business day after qc review was successfully completed.
             We began collecting posted dates in early 2017.  Dates from before then are estmates.  All 
             posted dates include a type attribute of Actual or Estimate.
             
             Some existing dates are now redundant.  They will be kept for some time to provide an 
             opportunity for users of the XML to update their systems before being removed at a later 
             date, probably in 2018.  

             Please update systems to stop using the date on the left in favor of the date on the right.
               <firstreceived_date>                       replaced with   <study_first_submitted>
               <firstreceived_results_date>               replaced with   <results_first_submitted>
               <firstreceived_results_disposition_date>   replaced with   <disposition_first_submitted>
               <lastchanged_date>                         replaced with   <last_update_submitted>  
             
             From a utility standpoint, the new <last_update_posted> date is likely the date that most
             people want to search.  We previously did not have this date available and the old 
             <lastchanged_date> was the closest alternative, though problematic because it never meant
             what was implied by the name.

  03/29/2018 Study phase can now be missing.
             Previously, missing Phase values were automatically mapped to N/A.
             Now we are making a distinction between not provided and declared N/A.
             All studies which are not study type Interventional (e.g. Observational and Expanded Access)
               have had their Phase removed.

  03/29/2018 Lead Sponsors and Collaborators can have a missing agency_class. 
             This should only occur for unapproved device trials where most fields are mssing or redacted.
  
  05/03/2018 As promised in 08/30/2017 entry above, old redundant date names have been retired and 
             their tags removed.  Please update systems to stop using the date on the left in favor 
             of the date on the right.
               <firstreceived_date>                       replaced with   <study_first_submitted>
               <firstreceived_results_date>               replaced with   <results_first_submitted>
               <firstreceived_results_disposition_date>   replaced with   <disposition_first_submitted>
               <lastchanged_date>                         replaced with   <last_update_submitted>  
             
  05/09/2018 Added new section <pending_results> that appears only when the data provider has
             submitted study results for quality control (QC) review, but those results have
             not yet been publicly posted.  Within the pending results 
             sections are three possible tags, all of which hold a date value
               <submitted>             Date study results are submitted for QC review
               <returned>              Date study results are returned for modification
               <submission_canceled>   Date submission canceled by data provider
             The <submission_canceled> tag will contain the string "Unknown" for cancel events
             before 05/08/2018 (start of date collection).
               
             Once quality control review is passed, 1) the first <submitted> date is used to fill the 
             <results_first_submitted> tag, 2) the <submitted> date for the version of results that 
             passed QC is used to fill the <results_first_submitted_qc> tag, 3) the <pending_results> 
             section is removed, and 4) the results are posted on ClinicalTrials.gov. 
             
             The latest versions of all studies are posted every business day.  But, there can be 
             unexpected delays.  The <results_first_posted> value will usually have a type attribute 
             of "Estimate" when first posted.  This attribute will be changed to "Actual" (and the 
             date may be adjusted) on the next posting cycle, when the true posting date is known.
                
  08/22/2018 Added four additional patient data fields, <ipd_info_type>, <ipd_time_frame>, 
             <ipd_access_criteria>, and <ipd_url>, to the <patient_data> tag
                  
  02/06/2019 Removed last comments about date change (see changes for 08/30/2017 and 05/03/2018)
                 
  02/06/2019 Added provided document section.  
             Data providers can submit documents including the Study Protocol, Informed Consent Forn (ICF),
             and Statistical Analysis Plan (SAP), possibly all in the same pdf document.  These documents 
             are archived, made available through the ClinicalTrials.gov site, and are now described in
             the Public XML.
             
             The new section looks like this.  There can be multiple docments.
               <provided_document_section>
                 <provided_document>
                   <document_type>Study Protocol</document_type>
                   <document_has_protocol>Yes</document_has_protocol>
                   <document_has_icf>No</document_has_icf>
                   <document_has_sap>No</document_has_sap>
                   <document_date>March 27, 2018</document_date>
                   <document_url>https://ClinicalTrials.gov/ProvidedDocs/35/NCT03737435/Prot_000.pdf
                 </document_url>
               </provided_document>
                              
  05/08/2020 Added "Available" as a valid value for location_status 
             
 ============================================================================================ -->

<!--
  Note: information on some device trials cannot be provided by ClinicalTrials.gov. 
  The public site displays the following disclaimer for such trials:
  
    This trial has been identified as being associated with a clinical device
    that has not been approved or cleared by the US Food and Drug
    Administration. Under the terms of US Public Law 110-85, Title VIII,
    Section 801, the details of this study are not available to the public. 
  
  The XML for such trials will contain very little usable information. These
  trials (and only these trials) will have the study_type set to "N/A".
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<!-- === Generic data types ========================================== -->

  <xs:simpleType name="actual_enum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Actual" />
      <xs:enumeration value="Anticipated" />
      <xs:enumeration value="Estimate" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="yes_no_enum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Yes" />
      <xs:enumeration value="No" />
    </xs:restriction>
  </xs:simpleType>
  
<!-- === Date ======================================================== -->

  <!--  Dates may now include a day                  -->
  <!--      Month Day, Year    Or    Month Year      -->
  <!--  Necessary to accurately calculate deadlines  -->
  
  <xs:simpleType name="variable_date_type">
    <xs:restriction base="xs:string">
      <xs:pattern value="(Unknown|((January|February|March|April|May|June|July|August|September|October|November|December) (([12]?[0-9]|30|31)\, )?[12][0-9]{3}))" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="variable_date_struct">
    <xs:simpleContent>
      <xs:extension base="variable_date_type">
        <xs:attribute name="type" type="actual_enum" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
   
<!-- === Required Header ============================================= -->

  <xs:complexType name="required_header_struct">
    <xs:sequence>
      <xs:element name="download_date" type="xs:string"/>
      <xs:element name="link_text" type="xs:string"/>
      <xs:element name="url" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

<!-- === Id Info ===================================================== -->

  <xs:complexType name="id_info_struct">
    <xs:sequence>
      <xs:element name="org_study_id" type="xs:string" minOccurs="0"/>
      <xs:element name="secondary_id" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="nct_id" type="xs:string"/>
      <xs:element name="nct_alias" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

<!-- === Sponsor ===================================================== -->

  <xs:simpleType name="agency_class_enum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NIH" />
      <xs:enumeration value="U.S. Fed" />
      <xs:enumeration value="Industry" />
      <xs:enumeration value="Other" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="sponsor_struct">
    <xs:sequence>
      <xs:element name="agency" type="xs:string"/>
      <xs:element name="agency_class" type="agency_class_enum" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

<!-- === Sponsors ==================================================== -->

  <xs:complexType name="sponsors_struct">
    <xs:sequence>
      <xs:element name="lead_sponsor" type="sponsor_struct"/>
      <xs:element name="collaborator" type="sponsor_struct" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

<!-- === Oversight =================================================== -->

  <xs:complexType name="oversight_info_struct">
    <xs:sequence>
      <xs:element name="has_dmc" type="yes_no_enum" minOccurs="0"/> <!-- data monitoring committee -->
      <xs:element name="is_fda_regulated_drug" type="yes_no_enum" minOccurs="0"/>
      <xs:element name="is_fda_regulated_device" type="yes_no_enum" minOccurs="0"/>
      <xs:element name="is_unapproved_device" type="yes_no_enum" minOccurs="0"/>
      <xs:element name="is_ppsd" type="yes_no_enum" minOccurs="0"/>
      <xs:element name="is_us_export" type="yes_no_enum" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

<!-- === Expanded Access ============================================= -->

  <xs:complexType name="expanded_access_info_struct">
    <xs:sequence>
      <xs:element name="expanded_access_type_individual" type="yes_no_enum" minOccurs="0"/>
      <xs:element name="expanded_access_type_intermediate" type="yes_no_enum" minOccurs="0"/>
      <xs:element name="expanded_access_type_treatment" type="yes_no_enum" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

<!-- === Study Design ================================================ -->

  <xs:complexType name="study_design_info_struct">
    <xs:sequence>
      <xs:element name="allocation" type="xs:string" minOccurs="0"/>
      <xs:element name="intervention_model" type="xs:string" minOccurs="0"/>
      <xs:element name="intervention_model_description" type="xs:string" minOccurs="0"/>
      <xs:element name="primary_purpose" type="xs:string" minOccurs="0"/>
      <xs:element name="observational_model" type="xs:string" minOccurs="0"/>
      <xs:element name="time_perspective" type="xs:string" minOccurs="0"/>
      <xs:element name="masking" type="xs:string" minOccurs="0"/>
      <xs:element name="masking_description" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

<!-- === Protocol Outcome ============================================ -->

  <xs:complexType name="protocol_outcome_struct">
    <xs:sequence>
      <xs:element name="measure" type="xs:string"/>
      <xs:element name="time_frame" type="xs:string" minOccurs="0"/>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

<!-- === Enrollment ================================================== -->

  <xs:complexType name="enrollment_struct">
    <xs:simpleContent>
      <xs:extension base="xs:integer">
        <xs:attribute name="type" type="actual_enum" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

<!-- === Arm Group =================================================== -->

  <xs:complexType name="arm_group_struct">
    <xs:sequence>
      <xs:element name="arm_group_label" type="xs:string"/>
      <xs:element name="arm_group_type" type="xs:string" minOccurs="0"/>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

<!-- === Intervention ================================================ -->

  <xs:simpleType name="intervention_type_enum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Behavioral" />
      <xs:enumeration value="Biological" />
      <xs:enumeration value="Combination Product" />
      <xs:enumeration value="Device" />
      <xs:enumeration value="Diagnostic Test" />
      <xs:enumeration value="Dietary Supplement" />
      <xs:enumeration value="Drug" />
      <xs:enumeration value="Genetic" />
      <xs:enumeration value="Procedure" />      
      <xs:enumeration value="Radiation" />
      <xs:enumeration value="Other" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="intervention_struct">
    <xs:sequence>
      <xs:element name="intervention_type" type="intervention_type_enum"/>
      <xs:element name="intervention_name" type="xs:string"/>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
      <xs:element name="arm_group_label" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="other_name" type="xs:string" minOccurs="0" maxOccurs="unbounded"/> <!-- synonyms for intervention_name -->
    </xs:sequence>
  </xs:complexType>

<!-- === Textblock =================================================== -->

  <xs:complexType name="textblock_struct">
    <xs:sequence>
      <xs:element name="textblock" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

<!-- === Eligibility ================================================= -->

  <xs:simpleType name="sampling_method_enum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Probability Sample" />
      <xs:enumeration value="Non-Probability Sample" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="gender_enum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Female" />
      <xs:enumeration value="Male" />
      <xs:enumeration value="All" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="age_pattern">
    <xs:restriction base="xs:string">
      <xs:pattern value="N/A|([1-9][0-9]* (Year|Years|Month|Months|Week|Weeks|Day|Days|Hour|Hours|Minute|Minutes))"></xs:pattern>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="eligibility_struct">
    <xs:sequence>
      <xs:element name="study_pop" type="textblock_struct" minOccurs="0"/>
      <xs:element name="sampling_method" type="sampling_method_enum" minOccurs="0"/>
      <xs:element name="criteria" type="textblock_struct" minOccurs="0"/>
      <xs:element name="gender" type="gender_enum"/>
      <xs:element name="gender_based" type="yes_no_enum" minOccurs="0"/>
      <xs:element name="gender_description" type="xs:string" minOccurs="0"/>
      <xs:element name="minimum_age" type="age_pattern"/>
      <xs:element name="maximum_age" type="age_pattern"/>
      <xs:element name="healthy_volunteers" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

<!-- === Contact ===================================================== -->

  <xs:complexType name="contact_struct">
    <xs:sequence>
      <xs:element name="first_name" type="xs:string" minOccurs="0"/>
      <xs:element name="middle_name" type="xs:string" minOccurs="0"/>
      <xs:element name="last_name" type="xs:string" minOccurs="0"/>
      <xs:element name="degrees" type="xs:string" minOccurs="0"/>
      <xs:element name="phone" type="xs:string" minOccurs="0"/>
      <xs:element name="phone_ext" type="xs:string" minOccurs="0"/>
      <xs:element name="email" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

<!-- === Investigator ================================================ -->

  <xs:simpleType name="role_enum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Principal Investigator" />
      <xs:enumeration value="Sub-Investigator" />
      <xs:enumeration value="Study Chair" />
      <xs:enumeration value="Study Director" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="investigator_struct">
    <xs:sequence>
      <xs:element name="first_name" type="xs:string" minOccurs="0"/>
      <xs:element name="middle_name" type="xs:string" minOccurs="0"/>
      <xs:element name="last_name" type="xs:string"/>
      <xs:element name="degrees" type="xs:string" minOccurs="0"/>
      <xs:element name="role" type="role_enum" minOccurs="0"/>
      <xs:element name="affiliation" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

<!-- === Address ===================================================== -->

  <xs:complexType name="address_struct">
    <xs:sequence>
      <xs:element name="city" type="xs:string"/>
      <xs:element name="state" type="xs:string"  minOccurs="0"/>
      <xs:element name="zip" type="xs:string"  minOccurs="0"/>
      <xs:element name="country" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

<!-- === Facility ==================================================== -->

  <xs:complexType name="facility_struct">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="address" type="address_struct" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

<!-- === Status ====================================================== -->

  <xs:simpleType name="recruitment_status_enum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Active, not recruiting" />
      <xs:enumeration value="Completed" />
      <xs:enumeration value="Enrolling by invitation" />
      <xs:enumeration value="Not yet recruiting" />
      <xs:enumeration value="Recruiting" />
      <xs:enumeration value="Suspended" />
      <xs:enumeration value="Terminated" />
      <xs:enumeration value="Withdrawn" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="expanded_access_status_enum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Available" />
      <xs:enumeration value="No longer available" />
      <xs:enumeration value="Temporarily not available" />
      <xs:enumeration value="Approved for marketing" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="redacted_record_status_enum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Withheld"></xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
   
  <xs:simpleType name="unknown_status_enum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown status"></xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  
  <!--
    Valid values for overall status depend on the value of the study type:
     - For studies that have not been updated in 2 years, the value unknown_status_enum
     - For Interventional or Observational studies, values from recruitment_status_enum
     - For Expanded Access studies, values from expanded_access_status_enum
     - Otherwise, values from redacted_record_status_enum
     
    This enum is also the valid values for location status, but the rules for which
      locations are included or witheld in the public xml are subject to change.  
      You may not see all possible values.
   -->
  <xs:simpleType name="status_enum">
    <xs:union memberTypes="recruitment_status_enum 
      expanded_access_status_enum 
      redacted_record_status_enum 
      unknown_status_enum">
    </xs:union>
  </xs:simpleType>

<!-- === Location ==================================================== -->

  <xs:complexType name="location_struct">
    <xs:sequence>
      <xs:element name="facility" type="facility_struct" minOccurs="0"/>
      <xs:element name="status" type="status_enum" minOccurs="0"/>
      <xs:element name="contact" type="contact_struct" minOccurs="0"/>
      <xs:element name="contact_backup" type="contact_struct" minOccurs="0"/>
      <xs:element name="investigator" type="investigator_struct" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

<!-- === Location Countries ========================================== -->

  <xs:complexType name="countries_struct">
    <xs:sequence>
      <xs:element name="country" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

<!-- === Links ======================================================= -->

  <xs:complexType name="link_struct">
    <xs:sequence>
      <xs:element name="url" type="xs:string"/>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

<!-- === References ================================================== -->

  <xs:complexType name="reference_struct">
    <xs:sequence>
      <xs:element name="citation" type="xs:string" minOccurs="0"/>
      <xs:element name="PMID" type="xs:positiveInteger" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

<!-- === Responsible Party =========================================== -->

  <xs:simpleType name="responsible_party_type_enum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Sponsor" />
      <xs:enumeration value="Principal Investigator" />
      <xs:enumeration value="Sponsor-Investigator" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="responsible_party_struct">
    <xs:choice>
      <xs:sequence> <!-- old style -->
        <xs:element name="name_title" type="xs:string" minOccurs="0"/>
        <xs:element name="organization" type="xs:string" minOccurs="0"/>
      </xs:sequence>
      <xs:sequence> <!-- new style, used in newer records -->
        <xs:element name="responsible_party_type" type="responsible_party_type_enum"/>
        <xs:element name="investigator_affiliation" type="xs:string" minOccurs="0"/>
        <xs:element name="investigator_full_name" type="xs:string" minOccurs="0"/>
        <xs:element name="investigator_title" type="xs:string" minOccurs="0"/>
      </xs:sequence>
    </xs:choice>
  </xs:complexType>

<!-- === Browse ====================================================== -->

  <xs:complexType name="browse_struct">
    <xs:sequence>
      <xs:element name="mesh_term" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

<!-- === Patient Data ================================================ -->

  <xs:complexType name="patient_data_struct">
    <xs:sequence>
      <xs:element name="sharing_ipd" type="xs:string"/>
      <xs:element name="ipd_description" type="xs:string" minOccurs="0"/>
      <xs:element name="ipd_info_type" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="ipd_time_frame" type="xs:string" minOccurs="0"/>
      <xs:element name="ipd_access_criteria" type="xs:string" minOccurs="0"/>
      <xs:element name="ipd_url" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

<!-- === Study Docs ================================================== -->

  <xs:complexType name="study_doc_struct">
    <xs:sequence>
      <xs:element name="doc_id" type="xs:string" minOccurs="0"/>
      <xs:element name="doc_type" type="xs:string" minOccurs="0"/>
      <xs:element name="doc_url" type="xs:string" minOccurs="0"/>
      <xs:element name="doc_comment" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="study_docs_struct">
    <xs:sequence>
      <xs:element name="study_doc" type="study_doc_struct" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

<!-- === Provided Document Section Struct ============================ -->

  <xs:complexType name="provided_document_struct">
    <xs:sequence>
      <xs:element name="document_type" type="xs:string" minOccurs="0"/>
      <xs:element name="document_has_protocol" type="xs:string" minOccurs="0"/>
      <xs:element name="document_has_icf" type="xs:string" minOccurs="0"/>
      <xs:element name="document_has_sap" type="xs:string" minOccurs="0"/>
      <xs:element name="document_date" type="xs:string" minOccurs="0"/>
      <xs:element name="document_url" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="provided_document_section_struct">
    <xs:sequence>
      <xs:element name="provided_document" type="provided_document_struct" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

<!-- === Pending Results ============================================= -->

  <xs:complexType name="pending_results_struct">
    <xs:choice minOccurs="1" maxOccurs="unbounded">
      <xs:element name="submitted" type="variable_date_struct" minOccurs="0"/>
      <xs:element name="returned" type="variable_date_struct" minOccurs="0"/>
      <xs:element name="submission_canceled" type="variable_date_struct" minOccurs="0"/>
    </xs:choice>
  </xs:complexType>

<!-- === Group ======================================================= -->

  <xs:complexType name="group_struct">
    <xs:sequence>
      <xs:element name="title" type="xs:string" minOccurs="0"/>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="group_id" type="xs:string" use="required"/>
  </xs:complexType>

<!-- === Participants ================================================ -->

  <xs:complexType name="participants_struct">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="group_id" type="xs:string" use="required"/>
        <xs:attribute name="count" type="xs:string"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

<!-- === Milestone =================================================== -->

  <xs:complexType name="milestone_struct">
    <xs:sequence>
      <xs:element name="title" type="xs:string"/>
      <xs:element name="participants_list">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="participants" type="participants_struct" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

<!-- === Period ====================================================== -->

  <xs:complexType name="period_struct">
    <xs:sequence>
      <xs:element name="title" type="xs:string"/>
      <xs:element name="milestone_list">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="milestone" type="milestone_struct" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="drop_withdraw_reason_list" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="drop_withdraw_reason" type="milestone_struct" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

<!-- === Participant Flow ============================================ -->

  <xs:complexType name="participant_flow_struct">
    <xs:sequence>
      <xs:element name="recruitment_details" type="xs:string" minOccurs="0"/>
      <xs:element name="pre_assignment_details" type="xs:string" minOccurs="0"/>
      <xs:element name="group_list">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="group" type="group_struct" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="period_list">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="period" type="period_struct" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

<!-- === Measure Count =============================================== -->

  <xs:complexType name="measure_count_struct">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="group_id" type="xs:string" use="required"/>
        <xs:attribute name="value" type="xs:string"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

<!-- === Measure Analyzed ============================================ -->

  <xs:complexType name="measure_analyzed_struct">
    <xs:sequence>
      <xs:element name="units" type="xs:string"/>
      <xs:element name="scope" type="xs:string"/>
      <xs:element name="count_list">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="count" type="measure_count_struct" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

<!-- === Measurement ================================================= -->

  <xs:complexType name="measurement_struct">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="group_id" type="xs:string" use="required"/>
        <xs:attribute name="value" type="xs:string"/>
        <xs:attribute name="spread" type="xs:string"/>
        <xs:attribute name="lower_limit" type="xs:string"/>
        <xs:attribute name="upper_limit" type="xs:string"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

<!-- === Measure Category ============================================ -->

  <xs:complexType name="measure_category_struct">
    <xs:sequence>
      <xs:element name="title" type="xs:string" minOccurs="0"/>
      <xs:element name="measurement_list" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="measurement" type="measurement_struct" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

<!-- === Measure Class =============================================== -->

  <xs:complexType name="measure_class_struct">
    <xs:sequence>
      <xs:element name="title" type="xs:string" minOccurs="0"/>
      <xs:element name="analyzed_list" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="analyzed" type="measure_analyzed_struct" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="category_list" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="category" type="measure_category_struct" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

<!-- === Measure ===================================================== -->
  
  <xs:simpleType name="measure_param_enum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Geometric Mean" />
      <xs:enumeration value="Geometric Least Squares Mean" />
      <xs:enumeration value="Least Squares Mean" />
      <xs:enumeration value="Log Mean" />
      <xs:enumeration value="Mean" />
      <xs:enumeration value="Median" />
      <xs:enumeration value="Number" />
      <xs:enumeration value="Count of Participants" />
      <xs:enumeration value="Count of Units" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="measure_dispersion_enum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="80% Confidence Interval" />
      <xs:enumeration value="90% Confidence Interval" />
      <xs:enumeration value="95% Confidence Interval" />
      <xs:enumeration value="97.5% Confidence Interval" />
      <xs:enumeration value="99% Confidence Interval" />
      <xs:enumeration value="Full Range" />
      <xs:enumeration value="Geometric Coefficient of Variation" />
      <xs:enumeration value="Inter-Quartile Range" />
      <xs:enumeration value="Standard Deviation" />
      <xs:enumeration value="Standard Error" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="measure_struct">
    <xs:sequence>
      <xs:element name="title" type="xs:string"/>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
      <xs:element name="population" type="xs:string" minOccurs="0"/>
      <xs:element name="units" type="xs:string" minOccurs="0"/>
      <xs:element name="param" type="measure_param_enum" minOccurs="0"/>
      <xs:element name="dispersion" type="xs:string" minOccurs="0"/>
      <xs:element name="units_analyzed" type="xs:string" minOccurs="0"/>
      <xs:element name="analyzed_list" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="analyzed" type="measure_analyzed_struct" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="class_list" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="class" type="measure_class_struct" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

<!-- === Baseline ==================================================== -->

  <xs:complexType name="baseline_struct">
    <xs:sequence>
      <xs:element name="population" type="xs:string" minOccurs="0"/>
      <xs:element name="group_list">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="group" type="group_struct" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="analyzed_list" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="analyzed" type="measure_analyzed_struct" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="measure_list" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="measure" type="measure_struct" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

<!-- === Analysis ==================================================== -->

  <xs:simpleType name="non_inferiority_type_enum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Superiority" />
      <xs:enumeration value="Non-Inferiority" />
      <xs:enumeration value="Equivalence" />
      <xs:enumeration value="Other" />
      <xs:enumeration value="Non-Inferiority or Equivalence" />
      <xs:enumeration value="Superiority or Other" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="n_sides_enum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="1-Sided" />
      <xs:enumeration value="2-Sided" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="analysis_dispersion_enum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Standard Deviation" />
      <xs:enumeration value="Standard Error of the Mean" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="analysis_struct">
    <xs:sequence>
      <xs:element name="group_id_list">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="group_id" type="xs:string" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="groups_desc" type="xs:string" minOccurs="0"/>
      <xs:element name="non_inferiority_type" type="non_inferiority_type_enum" minOccurs="0"/>
      <xs:element name="non_inferiority_desc" type="xs:string" minOccurs="0"/>
      <xs:element name="p_value" type="xs:string" minOccurs="0"/>
      <xs:element name="p_value_desc" type="xs:string" minOccurs="0"/>
      <xs:element name="method" type="xs:string" minOccurs="0"/>
      <xs:element name="method_desc" type="xs:string" minOccurs="0"/>
      <xs:element name="param_type" type="xs:string" minOccurs="0"/>
      <xs:element name="param_value" type="xs:string" minOccurs="0"/>
      <xs:element name="dispersion_type" type="analysis_dispersion_enum" minOccurs="0"/>
      <xs:element name="dispersion_value" type="xs:string" minOccurs="0"/>
      <xs:element name="ci_percent" type="xs:float" minOccurs="0"/>
      <xs:element name="ci_n_sides" type="n_sides_enum" minOccurs="0"/>
      <xs:element name="ci_lower_limit" type="xs:string" minOccurs="0"/>
      <xs:element name="ci_upper_limit" type="xs:string" minOccurs="0"/>
      <xs:element name="ci_upper_limit_na_comment" type="xs:string" minOccurs="0"/>
      <xs:element name="estimate_desc" type="xs:string" minOccurs="0"/>
      <xs:element name="other_analysis_desc" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

<!-- === Results Outcome ============================================= -->

  <xs:simpleType name="outcome_type_enum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Primary" />
      <xs:enumeration value="Secondary" />
      <xs:enumeration value="Other Pre-specified" />
      <xs:enumeration value="Post-Hoc" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="posting_date_type">
    <xs:restriction base="xs:string">
      <xs:pattern value="(((0[1-9])|(10|11|12))/)?[1-3][0-9]{3}"></xs:pattern> <!-- month/year or just year -->
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="results_outcome_struct">
    <xs:sequence>
      <xs:element name="type" type="outcome_type_enum"/>
      <xs:element name="title" type="xs:string"/>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
      <xs:element name="time_frame" type="xs:string" minOccurs="0"/>
      <xs:element name="safety_issue" type="yes_no_enum" minOccurs="0"/>
      <xs:element name="posting_date" type="posting_date_type" minOccurs="0"/>
      <xs:element name="population" type="xs:string" minOccurs="0"/>
      <xs:element name="group_list" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="group" type="group_struct" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="measure" type="measure_struct" minOccurs="0"/>
      <xs:element name="analysis_list" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="analysis" type="analysis_struct" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

<!-- === Vocab Term =================================================== -->

  <xs:complexType name="vocab_term_struct">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="vocab" type="xs:string"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

<!-- === Event Counts ================================================= -->

  <xs:complexType name="event_counts_struct">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="group_id" type="xs:string"/>
        <xs:attribute name="subjects_affected" type="xs:integer"/>
        <xs:attribute name="subjects_at_risk" type="xs:integer"/>
        <xs:attribute name="events" type="xs:integer"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

<!-- === Event ======================================================= -->
  
  <xs:simpleType name="event_assessment_enum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Non-systematic Assessment" />
      <xs:enumeration value="Systematic Assessment" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="event_struct">
    <xs:sequence>
      <xs:element name="sub_title" type="vocab_term_struct" minOccurs="0"/>
      <xs:element name="assessment" type="event_assessment_enum" minOccurs="0"/>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
      <xs:element name="counts" type="event_counts_struct" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

<!-- === Event Category ============================================== -->

  <xs:complexType name="event_category_struct">
    <xs:sequence>
      <xs:element name="title" type="xs:string"/>
      <xs:element name="event_list">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="event" type="event_struct" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

<!-- === Events ====================================================== -->

  <xs:complexType name="events_struct">
    <xs:sequence>
      <xs:element name="frequency_threshold" type="xs:string" minOccurs="0"/>
      <xs:element name="default_vocab" type="xs:string" minOccurs="0"/>
      <xs:element name="default_assessment" type="event_assessment_enum" minOccurs="0"/>
      <xs:element name="category_list">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="category" type="event_category_struct" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

<!-- === Reported Events ============================================= -->

  <xs:complexType name="reported_events_struct">
    <xs:sequence>
      <xs:element name="time_frame" type="xs:string" minOccurs="0"/>
      <xs:element name="desc" type="xs:string" minOccurs="0"/>
      <xs:element name="group_list">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="group" type="group_struct" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="serious_events" type="events_struct" minOccurs="0"/>
      <xs:element name="other_events" type="events_struct" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

<!-- === Certain Agreements ========================================== -->

  <xs:simpleType name="pi_employee_enum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="All Principal Investigators ARE employed by the organization sponsoring the study." />
      <xs:enumeration value="Principal Investigators are NOT employed by the organization sponsoring the study." />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="certain_agreements_struct">
    <xs:sequence>
      <xs:element name="pi_employee" type="pi_employee_enum" minOccurs="0"/>
      <xs:element name="restrictive_agreement" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

<!-- === Point Of Contact ============================================ -->

  <xs:complexType name="point_of_contact_struct">
    <xs:sequence>
      <xs:element name="name_or_title" type="xs:string"/>
      <xs:element name="organization" type="xs:string" minOccurs="0"/>
      <xs:element name="phone" type="xs:string" minOccurs="0"/>
      <xs:element name="email" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

<!-- === Clinical Results ============================================ -->

  <xs:complexType name="clinical_results_struct">
    <xs:sequence>
      <xs:element name="participant_flow" type="participant_flow_struct">
        <xs:key name="participant_flow_group_key">
          <xs:selector xpath="group_list/group" />
          <xs:field xpath="@group_id" />
        </xs:key>
        <xs:keyref name="participant_flow_group_ref" refer="participant_flow_group_key">
          <xs:selector xpath="period_list/period/milestone_list/milestone/participants_list/participants" />
          <xs:field xpath="@group_id" />
        </xs:keyref>
      </xs:element>
      <xs:element name="baseline" type="baseline_struct">
        <xs:key name="baseline_group_key">
          <xs:selector xpath="group_list/group" />
          <xs:field xpath="@group_id" />
        </xs:key>
        <xs:keyref name="baseline_group_ref" refer="baseline_group_key">
          <xs:selector xpath="measure_list/measure/category_list/category/measurement_list/measurement" />
          <xs:field xpath="@group_id" />
        </xs:keyref>
      </xs:element>
      <xs:element name="outcome_list">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="outcome" type="results_outcome_struct" maxOccurs="unbounded">
              <xs:key name="outcome_group_key">
                <xs:selector xpath="group_list/group" />
                <xs:field xpath="@group_id" />
              </xs:key>
              <xs:keyref name="outcome_group_ref" refer="outcome_group_key">
                <xs:selector xpath="measure_list/measure/category_list/category/measurement_list/measurement" />
                <xs:field xpath="@group_id" />
              </xs:keyref>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="reported_events" type="reported_events_struct" minOccurs="0">
        <xs:key name="events_group_key">
          <xs:selector xpath="group_list/group" />
          <xs:field xpath="@group_id" />
        </xs:key>
        <xs:keyref name="serious_events_group_ref" refer="events_group_key">
          <xs:selector xpath="serious_events/category_list/category/event_list/event/counts" />
          <xs:field xpath="@group_id" />
        </xs:keyref>
        <xs:keyref name="other_events_group_ref" refer="events_group_key">
          <xs:selector xpath="other_events/category_list/category/event_list/event/counts" />
          <xs:field xpath="@group_id" />
        </xs:keyref>
      </xs:element>
      <xs:element name="certain_agreements" type="certain_agreements_struct" minOccurs="0"/>
      <xs:element name="limitations_and_caveats" type="xs:string" minOccurs="0"/>
      <xs:element name="point_of_contact" type="point_of_contact_struct" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

<!-- === Clinical Study ============================================== -->
  
  <xs:simpleType name="study_type_enum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Expanded Access" />
      <xs:enumeration value="Interventional" />
      <xs:enumeration value="N/A" /> <!-- Redacted records only -->
      <xs:enumeration value="Observational" />
      <xs:enumeration value="Observational [Patient Registry]" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="phase_enum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="N/A" />
      <xs:enumeration value="Early Phase 1" />
      <xs:enumeration value="Phase 1" />
      <xs:enumeration value="Phase 1/Phase 2" />
      <xs:enumeration value="Phase 2" />
      <xs:enumeration value="Phase 2/Phase 3" />
      <xs:enumeration value="Phase 3" />
      <xs:enumeration value="Phase 4" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="biospec_retention_enum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None Retained" />
      <xs:enumeration value="Samples With DNA" />
      <xs:enumeration value="Samples Without DNA" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:element name="clinical_study">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="required_header" type="required_header_struct"/>
        <xs:element name="id_info" type="id_info_struct"/>
        <xs:element name="brief_title" type="xs:string"/>
        <xs:element name="acronym" type="xs:string" minOccurs="0"/>
        <xs:element name="official_title" type="xs:string" minOccurs="0"/>
        <xs:element name="sponsors" type="sponsors_struct"/>
        <xs:element name="source" type="xs:string"/>
        <xs:element name="oversight_info" type="oversight_info_struct" minOccurs="0"/>
        <xs:element name="brief_summary" type="textblock_struct" minOccurs="0"/>
        <xs:element name="detailed_description" type="textblock_struct" minOccurs="0"/>
        <xs:element name="overall_status" type="status_enum"/>
        <xs:element name="last_known_status" type="status_enum" minOccurs="0"/>
        <xs:element name="why_stopped" type="xs:string" minOccurs="0"/>
        <xs:element name="start_date" type="variable_date_struct" minOccurs="0"/>
        <xs:element name="completion_date" type="variable_date_struct" minOccurs="0"/>
        <xs:element name="primary_completion_date" type="variable_date_struct" minOccurs="0"/>
        <xs:element name="phase" type="phase_enum" minOccurs="0"/>
        <xs:element name="study_type" type="study_type_enum"/>
        <xs:element name="has_expanded_access" type="yes_no_enum" minOccurs="0"/>
        <xs:element name="expanded_access_info" type="expanded_access_info_struct" minOccurs="0"/>
        <xs:element name="study_design_info" type="study_design_info_struct" minOccurs="0"/>
        <xs:element name="target_duration" type="xs:string" minOccurs="0"/>
        <xs:element name="primary_outcome" type="protocol_outcome_struct" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="secondary_outcome" type="protocol_outcome_struct" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="other_outcome" type="protocol_outcome_struct" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="number_of_arms" type="xs:integer" minOccurs="0"/>
        <xs:element name="number_of_groups" type="xs:integer" minOccurs="0"/>
        <xs:element name="enrollment" type="enrollment_struct" minOccurs="0"/>
        <xs:element name="condition" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="arm_group" type="arm_group_struct" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="intervention" type="intervention_struct" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="biospec_retention" type="biospec_retention_enum" minOccurs="0"/>
        <xs:element name="biospec_descr" type="textblock_struct" minOccurs="0"/>
        <xs:element name="eligibility" type="eligibility_struct" minOccurs="0"/>
        <xs:element name="overall_official" type="investigator_struct" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="overall_contact" type="contact_struct" minOccurs="0"/>
        <xs:element name="overall_contact_backup" type="contact_struct" minOccurs="0"/>
        <xs:element name="location" type="location_struct" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="location_countries" type="countries_struct" minOccurs="0"/>
        <xs:element name="removed_countries" type="countries_struct" minOccurs="0"/>
        <xs:element name="link" type="link_struct" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="reference" type="reference_struct" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="results_reference" type="reference_struct" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="verification_date" type="variable_date_type" minOccurs="0"/>
        <xs:element name="study_first_submitted" type="variable_date_type" minOccurs="0"/>
        <xs:element name="study_first_submitted_qc" type="variable_date_type" minOccurs="0"/>
        <xs:element name="study_first_posted" type="variable_date_struct" minOccurs="0"/>
        <xs:element name="results_first_submitted" type="variable_date_type" minOccurs="0"/>
        <xs:element name="results_first_submitted_qc" type="variable_date_type" minOccurs="0"/>
        <xs:element name="results_first_posted" type="variable_date_struct" minOccurs="0"/>
        <xs:element name="disposition_first_submitted" type="variable_date_type" minOccurs="0"/>
        <xs:element name="disposition_first_submitted_qc" type="variable_date_type" minOccurs="0"/>
        <xs:element name="disposition_first_posted" type="variable_date_struct" minOccurs="0"/>
        <xs:element name="last_update_submitted" type="variable_date_type" minOccurs="0"/>
        <xs:element name="last_update_submitted_qc" type="variable_date_type" minOccurs="0"/>
        <xs:element name="last_update_posted" type="variable_date_struct" minOccurs="0"/>
        <xs:element name="responsible_party" type="responsible_party_struct" minOccurs="0"/>
        <xs:element name="keyword" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="condition_browse" type="browse_struct" minOccurs="0"/>
        <xs:element name="intervention_browse" type="browse_struct" minOccurs="0"/>
        <xs:element name="patient_data" type="patient_data_struct" minOccurs="0"/>
        <xs:element name="study_docs" type="study_docs_struct" minOccurs="0"/>
        <xs:element name="provided_document_section" type="provided_document_section_struct" minOccurs="0"/>
        <xs:element name="pending_results" type="pending_results_struct" minOccurs="0"/>
        <xs:element name="clinical_results" type="clinical_results_struct" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="rank" type="xs:string" use="optional"/>
    </xs:complexType>
  </xs:element>

</xs:schema>
